# Ignore all CSV files inside data folder
# Ignore all CSV files inside data folder, but not .gitkeep
data/*.csv
!data/.gitkeep


# Ignore virtual environment
venv/

# Mac system files
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

